@tailwind base;
@tailwind components;
@tailwind utilities;

/* Button Styles */
button {
  background-color: #007BFF; /* Primary button color */
  color: #FFFFFF; /* Text color */
  padding: 10px 20px; /* Padding around text */
  border: none; /* Remove default border */
  border-radius: 5px; /* Slightly rounded corners */
  cursor: pointer; /* Change mouse cursor to pointer */
  font-size: 16px; /* Text size */
  transition: background-color 0.3s ease;
  margin-top: 1rem; /* Smooth background color change */
}

button:hover {
  background-color: #0056b3; /* Darker shade on hover */
}

button:active {
  background-color: #004494; /* Even darker shade when clicked */
}

button:focus {
  outline: none; /* Remove outline on focus for a cleaner look */
  box-shadow: 0 0 0 2px rgba(0,123,255,.5); /* Custom focus style */
}

button:disabled {
  background-color: #CCCCCC; /* Light grey background for disabled state */
  cursor: not-allowed; /* Change cursor to indicate the button is disabled */
}

input{
  color: black;
}
:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
